
* {
    margin: 0;
    padding: 0;
}
/* For all icons */
i{
    margin-top:5px;
    font-size:50px;
}
/* For logo */
.logo{
    height:35px;
    width:40px;
}
.upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    color: #0A2A3D;
}
.heed{
    font-size: 3.8rem;
    color: rgb(61, 83, 207);
}
.paar{
    font-size: 1.8rem;
    color: rgb(50, 109, 112);
}
.vote {
    text-align: left;
    margin-left: 40px;
    text-decoration: underline azure;
}
.take{
    text-align: right;
    margin-right: 40px;
}
nav {
    height: 60px;
    width: 100%;
    background-color: #79AFC4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: 700; 
}
.logo{
    margin-left: -5%;
    margin-right: 30%;
}
/* .logo{
    font-family: "Antonio", serif;
    /* font-optical-sizing: auto; */
    /* font-style: normal; 
    font-weight: 700;
    font-size: 3.8rem;
    margin-left: 20px;
    
} */
a:hover{

    color: rgb(61, 83, 207);
    
    padding-bottom: 2px;
}
/* main{
    background-image: url("Slide2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */
.image1,image2{
    height:400px;
    width: 100%;
}
.body h1 {
    color: #ff0b0b;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline rgb(0, 0, 0);
}
.bigbox {
    display: flex;
    justify-content: space-evenly;

}
.box {
    height: 400px;
    width: 550px;
    display: inline-block;
    margin: 50px;
    text-align: center;
    font-size:larger;
    background-color: azure;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.484);
    transition: transform 0.2s;
    border-radius: 10px;
    padding: 20px;

}
.box:hover{
    /* border:2px solid black; */
    transform: scale(1.05);
}
.box h2{
    margin-top:20px;
    color:rgb(244, 0, 0);
}
.box p{
    margin-top: 40px;
    font-weight: 700;
    color: #0A2A3D;
}

.evoting h1{
    color: #e50a0a;
    text-align: center;
    font-size: 3rem;
    text-decoration: underline rgb(0, 0, 0);
}
.bigbox2{
    display: flex;
    justify-content: space-around;
}

.box2{
    /* border:2px solid black; */
    height:300px;
    width:400px;
    display: inline-block;
    margin:60px;
    text-align: center;
    font-size:20px;
    background-color: azure;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
}
.box2 h2{
    margin-top:20px;
    font-weight: bold;
}
.box2 p{
    margin-top: 20px;
    font-weight: 700;
}
.box2 a:hover{
    transform: scale(1.05);
}
footer {
    height:300px;
    background-color: rgb(27, 24, 24);
    margin-top: 0;
    padding-top: 0;
}

.foot-top {
    display: flex;
    justify-content: space-evenly;
    color: azure;
}

.foot-box {
    display: inline-block;

}

.foot-box h2 {
    margin-top:20px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.foot-box li{
    margin-top:10px;
    margin-bottom:10px;
    font-weight: 500;
}

.foot-box h2:hover {
    /* text-decoration: underline; */
    transform: scale(1.25);
}
.bb {
    display: flex;
    gap: 100px; /* Space between buttons */
    margin-left: 540px;
  }

  .b {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }